@import "../../_globalColor";
.d-none {
  display: none;
}
.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem ;
  margin-bottom: 20rem !important;
  
}
.greet-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 8rem;


}

.greeting-main {
  display: flex;
  margin-bottom: 20rem;

}

.subTitle {
  color: $subTitle !important;
}

.greeting-main {
  display: flex;
  
}

.greeting-main>* {
  flex: 1;
  margin-bottom: 30px;
}

.button-greeting-div {
  display: flex;
  margin-top: 20px;
  justify-content: left;
}

.greeting-text {
  font-size: 65px;
  line-height: 1.1;
  color: $textColor !important;
}

.greeting-text-p {
  font-size: 30px;
  line-height: 40px;
}


.greeting-image-div {
  perspective: 1000px;

  .greeting-image-inner.is-flipped {
    transform: rotateY(180deg);
  }

  .greeting-image-inner {
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

  .card__face--back {
    transform: rotateY(180deg);
    margin-top: 3rem;
  }
  .spotify {
    // border: 1px solid  $lightBorder1;
  }
  .card__face--front,
  .card__face--back {
    position: absolute;
    width: 100%;
    /* Safari */
    backface-visibility: hidden;
  }
  .Tilt {
    img {
      max-width: 40vh;
      margin-top: 2rem !important;
      height: auto;
      margin: auto;
      margin-bottom: -10rem;
      display: block;
      border: 0.15rem solid;
      border-color: rgba(128, 128, 128, 0.371);
      border-radius: 2rem;
      display: flex;

      
      
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    }
  }

}

.profileName {
  writing-mode: vertical-lr;
  margin-left: 10rem;
  background: linear-gradient(#55198b, blue);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profileName-dark-mode {
  writing-mode: vertical-lr;
  margin-left: 10rem;
}

.wave-emoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 0% 100%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(-10deg);
  }

  20% {
    transform: rotate(12deg);
  }

  30% {
    transform: rotate(-10deg);
  }

  40% {
    transform: rotate(9deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }

  .greeting-text-p {
    font-size: 20px;
  }

}

@media (max-width: 768px) {
  .button-greeting-div {
    justify-content: space-around;
  }
  .greet-main {
    margin-top: 3rem;
  }

  .greeting-text {
    font-size: 30px;
    text-align: center;
  }

  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }

  .greeting-main {
    display: block;
    margin-bottom: 38rem !important;
  }

  .greeting-image-div {
    
    .card__face--back { 
      iframe{
        width: 40vh;
        height: 45vh;

      }
    }
    .Tilt {
      img {
        margin-top: 2rem;
        max-width: 40vh !important;
      }

    }
  }

  .profileName {
    writing-mode: vertical-lr;
    margin-left: 5rem;
  }

  .profileName-dark-mode {
    writing-mode: vertical-lr;
    margin-left: 5rem;
  }

}

@media (max-width: 320px) {
  .main {
    width: auto;
  }
}