@import "./globalColor";
@import "react-responsive-carousel/lib/styles/carousel.min.css";

.App {
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: $appHeaderBG;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.625rem + 2vmin);
  color: $textColorDark;
}

.App-link {
  color: $appLink;
}

.subTitle {
  color: $subTitle;
}


@media (max-width: 700px) {
  .d-sm-none {
    display: none!important;
  }

  .d-md-none {
    display: unset;
  }
}


@media (min-width: 701px) {
  .d-md-none {
    display: none!important;
  }
}


body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

/*Dark*/
//scroll


body:has(div  div .dark-mode)::-webkit-scrollbar-track {
  background: #171c28;    /* color of the tracking area */
}

body:has(div  div .dark-mode)::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 6px solid rgba(255, 255, 255, 0.1);
  background-clip: content-box;
}
/*Light*/

body:has(div  div .light-mode)::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

body:has(div  div .light-mode)::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid rgba(0, 0, 0, 0.363);
  background-clip: content-box;
}
  


